# 載入所需套件

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from tqdm import tqdm

# 定義爬取中職球員數據函數

In [2]:
def cpbl_data_crawler(url):
    response=requests.get(url)
    soup=BeautifulSoup(response.text,'html.parser')

    items=[e.text for e in soup.select('th')]
    datas=[e.text for e in soup.select('td')]
    datas=[datas[j:j+31] for j in range(0,len(datas),31)]

    df=pd.DataFrame(datas,columns=items)
    
    return df

# 定義爬取中職球員數據頁數函數

In [3]:
def page_function(page):
    dfs=[]
    
    for i in tqdm(range(1,page+1)):
        url='http://www.cpbl.com.tw/stats/all.html?year=0000&stat=pbat&online=0&sort=G&order=desc&per_page={}'.format(i)
        d=cpbl_data_crawler(url)
        dfs.append(d)
    
    df=pd.concat(dfs,ignore_index=True)
    
    return df

# 指定總頁數表格呈現，匯出成Excel檔

In [4]:
df=page_function(10)
df.to_excel('中職數據排名資料.xlsx',index=False)
df.head()

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:13<00:00,  1.08s/it]

,NUM,NAME,G,PA,AB,RBI,R,H,1B,2B,...,BB,IBB,HBP,CS,GO,AO,G/F,SB%,TA,SSA
0,1,* 張泰山,1863,7675,6957,1338,1075,2134,1443,377,...,498,71,78,76,2231,1716,1.300,0.675,0.825,16204.74
1,2,彭政閔,1800,7370,6140,1096,1090,2044,1515,319,...,953,80,93,95,1674,1407,1.190,0.709,0.989,12627.9
2,3,高國慶,1607,6341,5739,851,767,1736,1282,302,...,437,20,77,20,1642,1550,1.059,0.615,0.716,9650.49
3,4,周思齊,1428,5626,4936,794,741,1545,1097,291,...,534,24,35,37,1176,1538,0.765,0.694,0.835,8911.01
4,5,* 黃忠義,1423,6087,5306,650,760,1582,1185,257,...,600,21,76,87,1789,1367,1.309,0.646,0.783,7872.15